
{% extends "base.html" %}
{% load static %}


{% block title %}Music Player
Home{% endblock title %}


{% block custom_styles %} {% endblock custom_styles %}


{% block content %}
<div
  class="relative flex h-auto min-h-screen w-full flex-col bg-[rgb(106,4,15)] group/design-root overflow-x-hidden"
>
  <div class="layout-container flex h-full grow flex-col">
    <main class="px-4 md:px-10 lg:px-20 flex flex-1 justify-center py-5 pb-32">
      <div
        class="layout-content-container flex flex-col w-full max-w-7xl flex-1"
      >

        <h1
          class="text-[#F8F9FA] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3 pt-6"
        >
          {% if sede_name %}
            Bienvenido, {{ sede_name }}
          {% else %}
            Bienvenido
          {% endif %}
        </h1>

      
        {% include 'includes/search.html' %}

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-6">

          {% include 'includes/recently_played.html' %}
        </div>
      </div>
    </main>
  </div>


  {% include 'includes/player.html' %}

{% endblock content %}
</div>
