{% extends "base.html" %} 
{%load static %} 

{% block title %} Dashboard {%endblock title %} 



{%block content %}
<div class="layout-container flex h-full grow flex-col ">
  <main
    class="px-4 md:px-10 lg:px-20 flex flex-1 justify-center py-5 pb-32    bg-[rgb(106,4,15)]"
  >
    <div
      class="layout-content-container flex flex-col w-full max-w-7xl flex-1"
    >
      <h1
        class="text-[#F8F9FA] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3 pt-6"
      >
        Tablero Admin
      </h1>
      
      {% include 'includes/search.html' %}

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-6">
        <div class="flex flex-col gap-8">
         {% include 'includes/gestion_sedes.html' %}
          {% include 'includes/recent_activity.html' %}
        </div>
       
        {% include 'includes/pending_item.html' %}



  {% include 'includes/footer.html' %}

    {% endblock content %}


    {%block scripts%} 
 
    {% endblock scripts %} 


    




