 <div class="flex flex-col">
            <h2
              class="text-[#F8F9FA] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
            >
              Gestión de Sedes
            </h2>
            <div class="grid grid-cols-2 gap-4 px-4">
              <div
                class="flex flex-col gap-2 rounded-lg bg-[#9D0208] p-4"
              >
                <div class="flex items-center gap-2">
                  <span
                    class="material-symbols-outlined text-[#F8F9FA]/70"
                    >group</span
                  >
                  <h3
                    class="text-[#F8F9FA]/80 text-sm font-medium"
                  >
                    Sedes Totales
                  </h3>
                </div>
                <p
                  class="text-[#F8F9FA] text-4xl font-bold"
                >
                  1,204
                </p>
              </div>
              <div
                class="flex flex-col gap-2 rounded-lg bg-[#9D0208] p-4"
              >
                <div class="flex items-center gap-2">
                  <span
                    class="material-symbols-outlined text-[#F8F9FA]/70"
                    >person_add</span
                  >
                  <h3
                    class="text-[#F8F9FA]/80 text-sm font-medium"
                  >
                    Nuevos Registros
                  </h3>
                </div>
                <p
                  class="text-[#F8F9FA] text-4xl font-bold"
                >
                  32
                </p>
              </div>
            </div>
          </div>