   <div class="px-4 py-3">
        <label
          class="flex flex-col min-w-40 h-12 w-full max-w-2xl mx-auto"
        >
          <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
            <div
              class="text-[#F8F9FA]/70 flex border-none bg-[#A00000] items-center justify-center pl-4 rounded-l-lg border-r-0"
            >
              <span class="material-symbols-outlined text-2xl"
                >search</span
              >
            </div>
            <input
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#F8F9FA] focus:outline-0 focus:ring-0 border-none bg-[#A00000] focus:border-none h-full placeholder:text-[#F8F9FA]/70 px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
              placeholder="Buscar"
              value=""
            />
          </div>
        </label>
      </div>