{% load static %}
<!DOCTYPE html>
<html  lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} {% endblock title %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/master.css' %}" />

    {% block custom_styles %} {% endblock custom_styles %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
  </head>
  <body class="font-display  text-[#F8F9FA] h-full ">
    {%block content %} 
    
    
    {% endblock content %} 


    {%block scripts%} 
    
    {% endblock scripts %} 
    
    {%block custom_scripts%} 
    
    {% endblock custom_scripts %}
  </body>
</html>
