<!DOCTYPE html>
<html class="dark" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Gestión de Archivos - Admin Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
 
 
  </head>
  <body
    class="font-display bg-background-light dark:bg-background-dark text-stone-900 dark:text-stone-100"
  >
    
  </body>
</html>
